{% extends 'polls/base.html' %}

{% block title %} Профиль {% endblock %}

{% block content %}
<div class="container mt-5 p-4 rounded shadow-lg" style="background-color: #F3BFC3;">
    <div class="row">
        <div class="col-md-4 text-center">
            <h1 style="color: #F22D44;">Пользователь: <b>{{ user.username }}</b></h1>

            {% if user.is_superuser %}
                <p class="text-danger font-weight-bold">Вы администратор этого сайта</p>
            {% else %}
                <img class="rounded-circle img-fluid" src="{{ user.avatar.url }}" alt="Аватар пользователя" style="max-width: 150px; margin-top: 15px;">
            {% endif %}

            <div class="mt-4">
                <a href="{% url 'polls:delete_user' user.id %}" class="btn btn-danger" style="border-radius: 20px;">
                    Стереть профиль
                </a>
                <a href="{% url 'polls:update_user' user.id %}" class="btn btn-primary" style="background-color: #F58E41; border-color: #F58E41; border-radius: 20px;">
                    Поменять профиль
                </a>
            </div>
        </div>

        <div class="col-md-8">
            <div class="p-3 rounded" style="background-color: #F38894;">
                {% if not user.is_superuser %}
                <p><strong>Имя:</strong> {{ user.first_name }}</p>
                {% endif %}
                <p><strong>Логин:</strong> {{ user.username }}</p>
                <p><strong>Почта:</strong> {{ user.email }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
