{% extends 'polls/base.html' %}

{% block content %}
<div class="container mt-5 p-4 rounded shadow-lg" style="background-color: #F3BFC3; max-width: 400px;">
  {% if user.is_authenticated %}
    <h2 class="text-center" style="color: #F22D44;">Вы уже авторизованы</h2>
  {% else %}
    <h2 class="text-center mb-4" style="color: #F22D44;">Вход</h2>
    
    <form method="post">
      {% csrf_token %}
        
      <div>
        <label for="id_username" style="color: #EC4B30">{{ form.username.label }}</label>
        <p class="form-control rounded-pill">{{ form.username }}</p>
      </div>
        
      <div class="form-group">
        <label for="id_password" style="color: #EC4B30;">{{ form.password.label_tag }}</label>
        <p class="form-control rounded-pill">{{ form.password }}</p> 
      </div>
        
      <button type="submit" class="btn btn-primary btn-block mt-3" style="background-color: #F58E41; border-color: #F58E41; border-radius: 20px;">
        Вход
      </button>
      
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  {% endif %}
  
  {% if form.errors %}
    <div class="alert alert-danger mt-4" role="alert" style="border-radius: 10px;">
      <h4 class="text-center">Вы ввели неверные данные</h4>
    </div>
  {% endif %}
</div>
{% endblock %}
